html { 
      background: url(OldRag.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover; 
      -moz-background-size: cover; 
      -o-background-size: cover;      
      background-size: cover; 
  }

#nav { 
	width: 100%;
    margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
    }

#nav li {
    display: inline-block;
    text-align: center;
    } 
a:link, a:visited {
	display: block;
	width: 100px;
	font-weight: bold; 
	color: #FFFFFF;
	background-color: #98bf21;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
	}
	
a.contact:link {

	color:#0000EE;
	text-decoration:none;
    background-color: inherit;
    font-weight: normal;
    text-transform: inherit;
	display: inline;
		
	}
ae.one:link {color:#355ec4;}
ae.one:visited {color:#0000ff;}
ae.one:hover {color:#ffcc00;}	
	
}